/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */

.header,
.footer {
  background-color: rgb(148, 81, 249);
}

body {
  letter-spacing: 0.05em;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo-container {
  display: flex;
  text-align: center;
}

.logo-container a {
  text-decoration: none;
}
.logo-img {
  width: 35px;
}

.logo-text {
  color: black;
}

h1 {
  color: yellow;
}

.main {
  height: calc(100vh - 134px);
}

.apps-container {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.app-card {
  padding: 10px 10px 15px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(250, 233, 207);
  transition: all 1s ease-out;
}

.app-card:hover {
  background-color: rgb(252, 198, 117);
}

.app-card img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.app-card a {
  text-decoration: none;
  color: black;
}

.footer p {
  font-size: 25px;
}

.contacts-container > * {
  text-decoration: none;
}

.contacts-container a > * {
  width: 32px;
  margin: 0 5px;
}

@media (max-width: 550px) {
  .wrapper {
    padding: 5px;
  }

  .logo-img {
    width: 32px;
  }
  h1 {
    font-size: 25px;
  }

  .main {
    height: calc(100vh - 111px);
  }

  .footer p {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}
